<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Effetto Lente su Immagine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>

    <section class="hero">
        <div class="image-container">
            <img src="/static/images/map_logo_white.png" class="blurred-image" alt="immagine">
            <div class="lens"></div>
        </div>
        <p id="p_hero_banner">Scopri l'immagine con l'effetto lente</p>
        <div class="button-container">
            <button class="btn">Scopri di più</button>
            <button class="btn">Contattaci</button>
        </div>
    </section>



    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
