/*per importare il font DM Serif Text */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
/*per importare il font Emblema One */
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Full-page black background */
body, html {
    height: 100%;
    background-color: black;
    color: white;
}

/* Section Styling */
.total-investment-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Container for image and text */
.container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 70%;
    width: 100%;
}

/* Image Container */
.image-container {
    flex: 1;
    max-width: 50%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Text Container */
.text-container {
    flex: 1;
    max-width: 50%;
}

.text-container h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'DM Serif Text', serif;
    letter-spacing: 3px;
    font-weight: 500;
}

.text-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Metrics Container (TV, Radio, Newspaper) */
.metrics-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.metric-box {
    flex: 1;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.metric-title {
    font-size: 1.1rem;
    font-family: 'DM Serif Text', serif;
    margin-bottom: 5px;
    color: #ED746F; /* Yellow color for titles */
}

.metric-value {
    font-size: 1.5rem;
    font-family: 'DM Serif Text', serif;
    font-weight: 500;
}

/* Sales Box */
.sales-box {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.sales-title {
    font-size: 1.1rem;
    font-family: 'DM Serif Text', serif;
    margin-bottom: 10px;
    color: #ED746F; /* Yellow color for titles */
}

.sales-value {
    font-size: 1.5rem;
    font-family: 'DM Serif Text', serif;
    font-weight: 500;
}

/* Section Title */
.section-title {
    font-family: 'Emblema One', cursive !important;
    font-size: 75px;
    margin-bottom: 100px;
    text-align: center;
    color: #ED746F; /* Yellow color for emphasis */
}